.pitch-container{
    padding: 0.75rem 1.5rem;
    background-color: #27730a;
}
.pitch-wrapper-border{
    border: 4px solid rgba(255, 255, 255, 0.5);
}
.pitch-wrapper{
    background-image: repeating-linear-gradient(180deg,#27730a,#27730a 10%,#0f4608 0,#0f4608 20%);
    /* background-color: #27730a; */
    height: 700px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.middle-line{
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
}
.pitch-center-circle{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: -1;
}
.pitch-kickoff-spot{
    height: 0.75rem;
    width: 0.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}
.pitch-box-eighteen{
    width: 50%;
    aspect-ratio: 7 / 2;
    border: 4px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.pitch-box-eighteen.top{
    top: 0;
    border-top: none;
}
.pitch-box-eighteen.down{
    bottom: 0;
    border-bottom: none;
}
.pitch-box-eighteen-arch{
    width: 50%;
    aspect-ratio: 2 / 1;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.pitch-box-eighteen-arch.top{
    top: 33%;
    border-top-color: transparent;
}
.pitch-box-eighteen-arch.down{
    bottom: 33%;
    border-bottom-color: transparent;
}
.pitch-corner-flag{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.5);
    position: absolute;
}
.pitch-corner-flag.top{
    top: -2.5rem;
}
.pitch-corner-flag.left{
    left: -2.5rem;
}
.pitch-corner-flag.right{
    right: -2.5rem;
}
.pitch-corner-flag.bottom{
    bottom: -2.5rem;
}
.pitch-kickoff-spot.penalty.top{
    top: 75%;
}
.pitch-kickoff-spot.penalty.down{
    top: 25%;
}
.pitch-home-players-wrapper{
    display: flex;
    flex-direction: column;
    height: 50%;
    z-index: 10;
}
.pitch-home-player-positions{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.pitch-home-players-wrapper:first-child .pitch-home-player-positions{
    align-items: start;
}
.pitch-home-player-positions > div:last-child, .pitch-home-player-positions > div:first-child{
    align-self: center;
}
.pitch-home-players-wrapper:last-child .pitch-home-player-positions{
    align-items: end;
}
.pitch-player-number{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: #4d1c11;
    border: 1px solid #FFF;
    position: relative;
}
.pitch-home-players-wrapper:last-child .pitch-player-number{
    background-color: #091723;
}
.pitch-player-name{
    font-size: 0.75rem;
    font-weight: 600;
    display: block;
    overflow: hidden;
    padding: 0.25rem;
}
.pitch-player-yellow{
    position: absolute;
    right: -0.25rem;
    top: -.25rem;
}
.pitch-player-red{
    position: absolute;
    right: -0.33rem;
    top: -.35rem;
}
.pitch-player-goal{
    position: absolute;
    left: -0.25rem;
    top: -.25rem;
}
.pitch-player-out, .pitch-player-in, .pitch-player-owngoal{
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #D22B2B;
}
.pitch-player-in{
    background-color: #0f4608;
}
.pitch-player-out.absolute{
    position: absolute;
    right: -0.25rem;
    bottom: -0.25rem;
}
.pitch-player-owngoal{
    position: absolute;
    left: -0.25rem;
    bottom: -0.25rem;
}
.border-0{
    border-radius: 0;
}
.substition-item{
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    position: relative;
}
.substituted-player{
    display: flex;
    gap: 0.75rem;
}
.substitution-time{
    width: 2.5rem;
}
.substitutions-container, .substitute-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border: 1px solid #171717;
    background-image: repeating-linear-gradient(180deg,#222,#222 72px,#2C2C2C 0,#2C2C2C 144px);
}
.substitute-container{
    background-image: repeating-linear-gradient(180deg,#222,#222 53px,#2C2C2C 0,#2C2C2C 106px);
}
.substition-item.subs{
    gap: 0.5rem;
}
.invisible{
    visibility: hidden;
}
.substituted-player-goals{
    display: grid;
    place-content: center;
    font-size: 18px;
}
.statistics-wrapper{
    background-color: #222;
    padding-bottom: 2rem;
}
.statistics-item{
    padding: 1rem;
}
.statistics-details-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.statistcs-title{
    text-align: center;
    display: block;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
}
.statistcs-title:first-child{
    margin: 0 auto;
}
.stat-number{
    color: #C3CC5A;
}
.statistics-bar-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;
}
.statistics-bar{
    height: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: rgba(93, 86, 105, 0.48);
}
.statistics-bar-percentage{
    display: block;
    height: 100%;
    background-color: #C3CC5A;
    border-radius: 0.25rem;
}
.statistics-bar-percentage.ml-auto{
    margin-left: auto;
}