.advertise{
    background-color: #2c2c2c;
    color: #FFF;
}
.advertise-hero-wrapper{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    gap: 3rem;
    padding: 2.5rem 0 3rem;
    align-items: center;
}

.advertse-hero-image{
    width: 350px;
    aspect-ratio: 425 / 278;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
}
.advertse-hero-image img{
    width: 100%;
}
.advertise-hero-text p{
    padding: 1rem 0;
}
.partner-with-us, .advertise-form-submit{
    padding: 0.75rem 1.25rem;
    background-color: #5EB700;
    border: none;
    color: #FFF;
    font-weight: 500;
    border-radius: 0.25rem;
}
.advertise-card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.advertise-card-wrapper li{
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding: 2rem 1rem;
    text-align: center;
}
.advertise-card-wrapper h5{
    color: #828282;
}
.advertise-form-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem 0;
}
.advertise-form-control{
    padding: 1rem 0;
}
.advertise-contact-label{
    display: block;
    font-size: 0.75rem;
    color: #828282;
    margin-bottom: 0.25rem;
}
.advertise-contact-input, .advertise-contact-text-area{
    padding: 0.5rem;
    border: 1px solid #888;
    border-radius: 0.25rem;
    display: block;
    width: 100%;
}
.advertise-contact-text-area{
    background-color: transparent;
    color: #FFF;
    height: 150px
}
.advertise-ad-formats{
    display: flex;
    color: #828282;
    gap: 1rem;
    font-size: 0.75rem;
    padding-top: 0.5rem;
}
.advertise-ad-formats label{
    display: inline-block;
    padding-left: 0.25rem;
}
