.main-container{
    flex: 1;
    gap: 1rem;
}
.match-card-wrapper{
    background-color: #222;
    padding: 1rem 1rem 0;
    text-align: center;
    border-radius: 0.25rem;
}
.club-detail{
    font-weight: 600;
    color: #C3CC5A;
}
.club-detail-logo{
    height: 75px;
    width: 75px;
}
.match-card-wrapper > .match-info {
    gap: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match-info-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.match-details-score{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}
.match-details-status{
    font-size: 0.875rem;
    font-weight: 500;
    display: block;
}
.color-primary{
    color: #C3CC5A;
}
.match-buttons-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    gap: 1.25rem;
}
.match-buttons{
    background-color: transparent;
    border: none;
    display: block;
    width: fit-content;
    padding: 0.25rem;
    color: #FFF;
    font-size: 0.875;
    font-weight: 600;
}
.match-buttons.active{
    color: #C3CC5A;
    border-bottom: 2px solid #C3CC5A;
}
.match-details-status.live-match-anim{
    animation: changeColor 0.5s infinite;
}

@keyframes changeColor {
    0%{color: #FFF;}
    50%{color: #C3CC5A;}
    100%{color: #FFF}
}
.match-info-item{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem;
    align-items: center;
}
.match-info-item:nth-child(even){
    background: #2C2C2C;
}
.match-event-item{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}
.match-event-player-name{
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.match-event-scorer{
    font-size: 0.875rem;
}
.match-event-assist{
    font-size: 0.75rem;
}
.match-event-player-name:last-child{
    text-align: left;
}
.match-event-score{
    display: block;
    width: 75px;
    text-align: center;
}
.match-info-wrapper{
    background-color: #222;
    min-height: 100%;
    border: 1px solid #171717;
    border-radius: 0.25rem;
    overflow: scroll;
}
.player-with-card{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}
.player-with-card.flex-start{
    justify-content: flex-start;
}
.match-info h4{
    font-size: 0.75rem;
}
@media (min-width: 640px) { 
    .match-info h4{
        font-size: 1rem;
    }
    .club-detail-logo{
        height: 100px;
        width: 100px;
    }
    .match-event-scorer{
        font-size: 1rem;
    }
}