.league-wrapper{
    border-radius: 0.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.league-info-hero{
    display: flex;
    padding: 1rem 1rem 1rem 0;
    gap: 1.5rem;
    align-items: flex-start;
}
.league-logo{
    box-shadow: 0px 11px 31px 0px rgba(55, 7, 61, 0.40);
    display: block;
    border-radius: 0.5rem;
    height: 150px;
}
.league-info-item{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.league-info-item span{
    font-size: 0.875rem;
    color: #C3CC5A;   
}
.league-tab-button{
    padding: 0.75rem 0.5rem;
    border: none;
    background-color: #2C2C2C;
    color: #FFF;
    position: relative;
    font-weight: 500;
    cursor: pointer;
}
.league-tab-button::after{
    content: "";
    display: block;
    position: absolute;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    background-color: #222;
}
.league-tab-button:last-child::after, .league-tab-button.active::after{
    display: none;
}
.league-tab-button.active{
    background-color: #222;
}
.league-tab-content{
    flex: 1;
    background-color: #222;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}
.no-upcoming{
    text-align: center;
    padding: 3rem 1rem;
    font-style: italic;
}
.team-page-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 1px;
    margin-bottom: 2rem;
}
.team-wrapper{
    padding: 0.5rem;
}
.team-content{
    box-shadow: 0px 0px 4px 0px rgba(233, 233, 233, 0.50);
    border-radius: 8px;
    border: 1px solid #222;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    padding: 0.25rem;
}
.team-content-badge{
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
@media (min-width: 250px) {
    .team-page-wrapper{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 640px) {
    .league-wrapper{
        padding: 0 1rem;
    }
    .team-page-wrapper{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .team-content{
        padding: 0.75rem;
    }
    .team-wrapper{
        padding: 0.75rem;
    }
    .league-tab-button{
        padding: 0.75rem 1.25rem;
    }
    .league-logo{
        height: 200px;
    }
    .league-info-hero{
        gap: 3rem;
    }
}