*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Oxanium', cursive;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul{
  list-style: none;
}
input, select{
  background-color: transparent;
  border: none;
  color: #FFF;
}
input:focus, select:focus{
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home-page-wrapper{
  display: flex;
  height: 100vh;
  padding: 1rem;
  background-color: #303030;
}
.bg-primary{
  background-color: #070b18;
}
.py-1{
  padding: 1rem 0;
}
header{
  overflow: hidden;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: linear 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu .navigation-item{
  display: block;
  margin: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.fa-xmark{
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.p-left{
  left: 0;
}
.navigation-item{
  display: inline;
  list-style-type: none;
  color: #f1f2f3;
  margin: 0 10px;
  cursor: default;
}
.navigation-item a{
  color: #f1f2f3;
}
.navigation-item:hover{
  color: #933556;
  padding-bottom: 0.7rem;
  border-bottom: 1.5px solid #933556;
}
.join-us{
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  background-image: linear-gradient(135deg, #933556, #32417a);
  color: #f1f2f3;
  border: none;
  border-radius: 0.25rem;
  transition: all;
  cursor: pointer;
}
.join-us:hover{
  background-image: linear-gradient(135deg, #32417a, #933556);
  transform: scale(1.05);
}
.newsletter:hover{
  border-bottom: unset;
}
.fa-bars, .fa-xmark{
  color: #f1f2f3;
  font-size: 1.5rem;
}
.banner{
  height: 90vh;
  background: linear-gradient(90deg, rgba(50, 65, 122, 0.8) 60%,rgba(50, 65, 122, 0.1)), url('https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
}
.banner-title{
  color: #f1f2f3;
  font-size: 1rem;
  margin: 4.5rem 0 2.5rem;  
  font-weight: 400;
}
.banner-tagline{
  max-width: 500px;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 2.5rem;
  color: #f1f2f3;
  line-height: 3.6rem;
}
.banner-tagline span{
  color: #933556;
}
.banner-text{
 font-weight: 400;
 color: #f1f2f3;
 max-width: 600px; 
 line-height: 1.5rem;
}
.get-started{
  margin-top: 2.5rem;
  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
}
.flags-wrapper{
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
.flags-wrapper::-webkit-scrollbar{
  display: none;
}
.country-flags{
  margin: 0 10px;
}

.section-title{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #933556;
}

.numbers-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(180deg, #933556, #070b18);
}
.numbers-wrapper{
  display: flex;
}
.number-icon{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 2rem;
  color: #070b18;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
h4.numbers{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 150%;
  color: #fff;
}
.numbers-text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #E0E0E0;
}

.service-wrapper{
  padding: 2.5rem 1rem 1rem;
  width: 23%;
  font-size: 1.25rem;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(50, 65, 122, 0.2), 0 6px 20px 0 rgba(50, 65, 122, 0.19);
  position: relative;
  margin: 0 1% 1%;
}
.services-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service-wrapper > i{
  font-size: 3rem;
  color: #933556;
}
.service-title {
  margin: 1.2rem 0;
}
.round-design{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #04172d;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: -1;
}

.testimonial-container{
  display: flex;
  flex-wrap: wrap;
}
.testimonial-wrapper{
  width: 30%;
  margin: 1.5%;
  background-color: #6963ff;
  border-radius: 5px;
  padding: 1.2rem;
  line-height: 1.5rem;
  color: #f1f2f3;
}
.testimonial-image{
  margin: 10px 0 0;
  border-radius: 50%;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
}

.footer-wrapper{
  text-align: center;
  color: #f1f2f3;
  padding: 5px;
  padding-bottom: 1.25rem;
  color: #6963ff;
  border-top: 1.5px solid #6963ff;
  background-color: #070b18;
}
.copyright{
  font-size: 0.75rem;
}
.competitions-wrapper{
  padding: 15px 50px;
}
.competitions-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.leagues-wrap{
  width: 240px;
  border: 2px solid #070b18;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px 0 15px 0;
  text-align: center;
}
.leagues-wrap:hover{
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.3);
}
.leagues-wrap > a{
  color: #070b18;
}
.leagues-logo{
  width: 90%;
  display: block;
  margin: auto;
}
.leagues-title{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.league-season{
  font-weight: bold;
  margin-top: 0.3rem;
}
.country-logo{
  height: 1.8rem;
  margin: 0 10px;
}

table{
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}
.table-team{
  width: 35%;
}
.teams{
  text-align: left;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding: 1rem 0;
  background-color: #070b18;
  color: white;
}
.breadcrumb{
  list-style-type: none;
  margin-bottom: 1rem;
}
.breadcrumb li{
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}
.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.search-wrapper{
  background-color: #070b18;
  padding: 0.5rem;
  display: flex;
}
.search-container{
  background-color: #070b18;
  margin-bottom: 1rem;
}
.search-league{
  font-size: 1rem;
  padding: 0.25rem;
  width: 100%;
  border: none;
}
.search-league:focus, .newsletter-email{
  outline: none;
}
.fa-magnifying-glass{
  color: #070b18;
  background-color: #fff;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.search-result{
  color: #f1f2f3;
  padding: 0 1rem;
}
.search-result > div {
  padding: 1rem;
  border-bottom: 1px solid #6963ff;
  cursor: pointer;
}
.search-result > div:hover {
  background-color: #04172d;
}
.club-info{
  padding: 3rem 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #070b18;
  background-color: #933556;
}
.d-flex-center{
  display: flex;
  align-items: center;
}
.image-wrapper{
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-right: 3rem;
}
.club-info img {
  height: 10rem;
  width: 10rem;
}
.club-info{
  font-size: 3rem;
  color: #f1f2f3;
}
.club-info p{
  font-size: 1.6rem;
}
.club-players-wrap{
  display: flex;
  flex-wrap: wrap;
}
.player-wrap{
  width: 23%;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 1%;
  position: relative;
  padding: 1rem;
}
.player-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #070b18;
  overflow: hidden;
  min-height: 80px;
}
.player-header img{
  width: 35%;
  flex-shrink: 0;
}
.player-header-info{
  font-size: 1.2rem;
  flex: 1;
  overflow: hidden;
}
.player-stat p{
  padding: 0.5rem 0;
  border-bottom: 0.5px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.view-player{
  margin: 1.5rem 0 -1rem;
  border: none !important;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem
}
.view-player a{
  color: #070b18;
}
.view-player a:hover{
  color: #933556;
  cursor: pointer;
}
.player-stat-goal{
  margin-bottom: 3rem;
}
.team-squad{
  text-align: center;
  font-size: 2rem;
  color: #070b18;
  margin: 2rem;
}
.player-statistics-hero{
  padding: 3rem 0 0;
  background-image: linear-gradient(135deg, #933556, #32417a);
  margin: auto;
  border-bottom: 2px solid black;
}
.player-statistics-hero .club-info{
  background: unset;
  border: unset;
}
.player-club a {
  color: #070b18;
}
.player-club a:hover{
  text-decoration: underline;
}
.player-statistics-container .player-image-wrapper{
  overflow: hidden;
  padding: 3rem 1rem 0;
  background-color: #fff;
  border-radius: 50% 50% 0 0;
  display: flex;
  margin-right: 3rem;
  min-width: 250px;
}
.player-image-wrapper img {
  height: 40vh;
  width: 100%;
}
.player-statistics-body{
  display: flex;
  align-items:flex-start;
  padding: 2rem 0;
}
.player-statistics-details{
  width: 30%;
  margin-right: 2rem;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 30%);
}
.player-statistics-main{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 2rem;
  border-left: 3px solid #ddd;
}
.player-statistics-main > div {
  width: 45%;
  margin: 0 5%  2rem 0;
}
.player-statistics-body .player-stat{
  border: 0.5px solid #ddd;
}
.player-stat > :last-child{
  border-bottom: none;  
}

.h4 {
  padding: 0.7rem;
  border-bottom: 0.5px solid #ddd;
  border-top: 3px solid #933556;
  color: #070b18
}
.player-statistics-body .player-stat > p, .apperance > p{
  padding: 0.5rem;
}
p > span {
  font-weight: 600;
}
.apperance{
  margin-top: 1rem;
}
.apperance .h4{
  border-top: none;
}

/* Responsiveness  */
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 100%;
  padding:  0.5rem;
  padding:  0.5rem;
}
.d-sm{
  display: none;
}
.modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0%;
  z-index: 1;
  display: none;
}
.modal-background{
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.show-modal{
  display: flex;
}
.modal-content{
  border-radius: 0.3rem;
  background-color: #fff;
  max-width: 300px;
  padding: 1.5rem;
  position: relative;
  text-align: center;
  color: #070b18;
  transform: scale(0);
  transition: ease-in-out 0.3s;
}
.active-modal{
  transform: scale(1) !important;
}
span.close{
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  font-size: 1.3rem;
  color: #070b18;
}
.bell-icon{
  font-size: 6rem;
  color: #933556;
}
.footer-wrapper .navigation-item{
  margin: 0.4rem;
}

.footer-wrapper .navigation-item:hover, .footer-wrapper .navigation-item > a:hover{
  color: #6963ff;
  padding-bottom: unset;
  border-bottom: none;
  text-decoration: underline;
}
.social-icons i{
  color: #6963ff;
  margin:  0 1rem 1rem;
  font-size: 1.6rem;
}
.input-wrapper{
  background-color: #933556;
  padding: 0.2rem;
  display: flex;
  align-items: center;
}
.input-wrapper i{
  color: #f1f2f3; 
  font-size: 1.4rem;
  width: 15%;
}
.input-wrapper input{
  height: 2rem;
  border: none;
  width: 85%;
  padding: 0.3rem;
}
.subscribe-button{
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #933556;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.2rem;
} 
.subscribe-button:hover{
  background-color: #fff;
  color: #933556;
  border: 0.1rem solid #933556;
  padding: 0.4rem;
}
.subscribe-content{
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.player-name{
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.loader-wrapper{
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}
.loader{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 0.25rem solid #CCC7;
  border-top-color: #FFF;
  animation: spin 0.5s linear infinite;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@keyframes spin {
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
}
@media screen and (min-width: 640px) { 
   .container{
    max-width: 640px;
   }
}
@media screen and (min-width: 768px) { 
  .container{
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container{
    max-width: 1024px;
  }
}
@media screen and (min-width: 1200px) { 
  .container{
    max-width: 1200px;
  }
}

@media screen and (max-width: 768px){
  .d-sm{
    display: block;
  }
  .d-md{
    display: none;
  }
  .banner-title{
    margin-top: 2.5rem;  
  }
  .banner{
    background: linear-gradient(90deg, rgba(50, 65, 122, 0.8) 100%,rgba(50, 65, 122, 0.1)), url('https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }
  .service-wrapper{
    width: 100%;
    margin-bottom: 2rem;
  }
  .sm-w-100{
    width: 100% !important;
  }
  .table-team{
    width: 50%;
  }
  .d-sm-none{
    display: none;
  }
  .club-info {
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5rem;
  }
  .image-wrapper{
    margin: auto;
  }
  .player-image-wrapper {
    margin-right: 0;
    margin: auto !important;
    min-width: unset;
  }
  .player-image-wrapper img {
    height: 30vh;
    width: 100%;
  }
  .player-name-wrapper{
    width: 100%;
  }
  .sm-flex-column{
    flex-direction: column;
  }
  .player-statistics-main{
    padding-left: unset;
    border: unset;
    margin-top: 2rem;
  }
  .join-us{
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .service-wrapper{
    width: 48%;
    margin: 0 1% 2rem;
  }
  .player-wrap{
    width: 31%;
  }
}
.league-fixture-wrapper{
  border-radius: 10px;
  border: 1px solid #171717;
  background: #2C2C2C;
  margin-bottom: 1.5rem;
  overflow: hidden;
}
.scores-wrapper ul{
  display: flex;
  flex-direction: column;
}
.score-card{
  padding: 1rem 0;
  color: #FFF;
  font-weight: 500;
  width: 100%;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: relative;
}
.score-card-wrapper:nth-child(even){
  background: #222;
}
.match-score{
  display: block;
  padding: 0 1rem;
  width: 80px;
}
.match-teams{
  display: block;
  flex: 1;
}
.match-teams.home-team{
  text-align: right;
}
.match-teams:last-child{
  text-align: left;
}
.live-match{
  height: 0.75rem;
  width: 0.75rem;
  background-color: #00FF00;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.match-status{
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.league_name_heading{
  border-radius: 10px 10px 0px 0px;
  background: #000;
  padding: 1rem 0.75rem;
  font-size: 14px;
}
.text-white {
  color: #FFF;
}
.text-white:hover{
  text-decoration: underline;
}