*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Oxanium', cursive;
  /* font-size: 1rem; */
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #070b18;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  /* position: sticky; */
  /* top: 0; */
}
.navigation-item{
  display: inline;
  list-style-type: none;
  color: #f1f2f3;
  margin: 0 10px;
  cursor: default;
}
.join-us{
  padding: 5px 10px;
  font-weight: 600;
  background-image: linear-gradient(135deg, #933556, #32417a);
  color: #f1f2f3;
}
.banner{
  height: 90vh;
  background: linear-gradient(90deg, rgba(50, 65, 122, 0.8) 60%,rgba(50, 65, 122, 0.1)), url('https://o7dkx1gd2bwwexip1qwjpplu-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/GettyImages-1141722200-1600x800.jpg');
  background-size: cover;
  background-position: center;
  padding: 15px 50px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.banner-title{
  color: #f1f2f3;
  font-size: 1rem;
  margin: 4.5rem 0 2.5rem;  
  font-weight: 400;
}
.banner-tagline{
  max-width: 500px;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 2.5rem;
  color: #f1f2f3;
  line-height: 3.6rem;
}
.banner-tagline span{
  color: #933556;
}
.banner-text{
 font-weight: 400;
 color: #f1f2f3;
 max-width: 600px; 
 line-height: 1.5rem;
}
.get-started{
  margin-top: 2.5rem;
  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
}

.flags-container{
  background-color: #04172d;
  padding: 15px 50px;
}
.flags-wrapper{
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
.flags-wrapper::-webkit-scrollbar{
  display: none;
}
.country-flags{
  margin: 0 10px;
}
.our-service{
  padding: 15px 50px;
}
.section-title{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #933556;
}
.service-wrapper{
  padding: 2.5rem 1rem 1rem;
  /* width: 120px; */
  font-size: 1.25rem;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(50, 65, 122, 0.2), 0 6px 20px 0 rgba(50, 65, 122, 0.19);
  position: relative;
  margin: 0 1rem 1rem;
}
.services-container{
  display: flex;
  justify-content: space-around;
}
.service-wrapper > i{
  font-size: 3rem;
  color: #933556;
}
.fa-futbol{
  color: #933556;
}
.service-title {
  margin: 1.2rem 0;
}
.round-design{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #04172d;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: -1;
}

.testimonials{
  background-color: #070b18;
  padding: 15px 50px;
}
.testimonial-container{
  display: flex;
}
.testimonial-wrapper{
  width: 30%;
  margin: 1.5%;
  background-color: #6963ff;
  border-radius: 5px;
  padding: 1.2rem;
  line-height: 1.5rem;
  color: #f1f2f3;
}
.testimonial-image{
  margin: 10px 0 0;
  border-radius: 50%;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
}

.footer-wrapper{
  text-align: center;
  color: #f1f2f3;
  padding: 5px;
  color: #6963ff;
  border-top: 1.5px solid #6963ff;
  background-color: #070b18;
}

.competitions-wrapper{
  padding: 15px 50px;
}
.competitions-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.leagues-wrap{
  width: 240px;
  border: 2px solid #070b18;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px 0 15px 0;
  text-align: center;
}
.leagues-wrap:hover{
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.3);
  /* box-shadow: 0 4px 8px 0 rgba(50, 65, 122, 0.2), 0 6px 20px 0 rgba(50, 65, 122, 0.19); */
}
.leagues-wrap > a{
  color: #070b18;
}
.leagues-logo{
  width: 90%;
  display: block;
  margin: auto;
}
.leagues-title{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.league-season{
  font-weight: bold;
  margin-top: 0.3rem;
}
.country-logo{
  height: 1.8rem;
  margin: 0 10px;
}

.standing{
  padding: 15px 50px;
}

table{
  width: 650px;
  max-width: 100%;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}
.table-team{
  width: 35%;
}
.teams{
  text-align: left;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding: 1rem 0;
  background-color: #070b18;
  color: white;
}
.breadcrumb{
  list-style-type: none;
  margin-bottom: 1rem;
}
.breadcrumb li{
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}
.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.search-wrapper{
  background-color: #070b18;
  padding: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
}
.search-league{
  font-size: 1rem;
  padding: 0.25rem;
  width: 100%;
  border: none;
}
.search-league:focus{
  outline: none;
}
.fa-magnifying-glass{
  color: #070b18;
  background-color: #fff;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}
