*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #070b18;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  /* position: sticky; */
  /* top: 0; */
}
.navigation-item{
  display: inline;
  list-style-type: none;
  font-size: 0.6rem;
  color: #f1f2f3;
  margin: 0 10px;
  cursor: default;
}
.join-us{
  font-size: 0.6rem;
  padding: 5px 10px;
  font-weight: 600;
  background-image: linear-gradient(135deg, #933556, #32417a);
  color: #f1f2f3;
}
.banner{
  height: 90vh;
  background: linear-gradient(90deg, rgba(50, 65, 122, 0.8) 60%,rgba(50, 65, 122, 0.1)), url('https://o7dkx1gd2bwwexip1qwjpplu-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/GettyImages-1141722200-1600x800.jpg');
  background-size: cover;
  background-position: center;
  padding: 15px 50px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.banner-title{
  color: #f1f2f3;
  font-size: 0.8rem;
  margin: 20px 0 10px;
}
.banner-tagline{
  max-width: 300px;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 20px 0 40px;
  color: #f1f2f3;
  line-height: 1.7rem;
}
.banner-tagline span{
  color: #933556;
}
.banner-text{
 font-size: 0.6rem;
 font-weight: 600;
 color: #f1f2f3;
 max-width: 400px; 
 margin: 20px 0;
 line-height: 1rem;
}
.flags-container{
  background-color: #04172d;
  padding: 15px 50px;
}
.flags-wrapper{
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
.flags-wrapper::-webkit-scrollbar{
  display: none;
}
.country-flags{
  margin: 0 10px;
}
.our-service{
  padding: 15px 50px;
}
.section-title{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 15px;
  color: #933556;
}
.service-wrapper{
  padding: 35px 10px 10px;
  width: 120px;
  font-size: 0.5rem;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(50, 65, 122, 0.2), 0 6px 20px 0 rgba(50, 65, 122, 0.19);
  position: relative;
  margin: 0 5px 5px;
}
.services-container{
  display: flex;
}
.service-wrapper > i{
  font-size: 1.8rem;
  color: #933556;
}
.fa-futbol{
  color: #933556;
}
.service-title {
  margin: 10px 0;
}
.round-design{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #04172d;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: -1;
}

.testimonials{
  background-color: #070b18;
  padding: 15px 50px;
}
.testimonial-container{
  display: flex;
}
.testimonial-wrapper{
  width: 30%;
  margin: 1.5%;
  background-color: #6963ff;
  border-radius: 20px;
  padding: 10px;
}
