/* .main-calender-wrapper{
    position: relative;
} */
.main-calender{
    position: absolute;
    top: 2rem;
    left: 0;
    /* right: 50%;    */
    /* transform: translateX(50%); */
    width: 100rem;
    height: 300px;
}
.calender-table{
    background-color: #222;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    font-size: 1rem;
    border: 1px solid red;
    max-width: 500px;
    text-align: center;
    /* width: fit-content; */
}