.main-calender-wrapper{
    position: relative;
    z-index: 1;
}
.main-calender{
    position: absolute;
    top: 2rem;
    right: 0;
    width: 250px;
    height: 300px;
}
.calender-table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
}
.calender-nav-button{
    background-color: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 0.25rem;
}
.calender-nav-button:hover{
    background-color: #2c2c2c;
}
.calender-table-wrapper{
    background-color: #222;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
    font-size: 1rem;
    max-width: 500px;
    text-align: center;
    padding: 0.5rem;
    z-index: 100;
}
.calender-table{
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.calender-column{
    padding: 0.25rem;
    cursor: pointer;
    color: #FFF;
}
.calender-column:hover{
    background-color: #2c2c2c;
}
.calender-column.active{
    background-color: #C3CC5A;
}